@import "custom";


body{
    background-color: $primary-background;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
}
.header__container, .footer__container{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}