.nav{
    ul{
        display: flex;
        flex-direction: row;
        li {
            padding: 10px;
            list-style: none;
        }
    }
    a{
        font-size: 18px;
        text-transform: uppercase;
        color: $light-gray;
    }
    
}
