.navbar{
    background-color:$secondary-background;
}
.navbar-brand{
    font-size: 36px;
    color: $black !important;
}
.navbar-toggler-icon{
    color: $black !important;
}
a{
    font-size: 18px;
    text-transform: uppercase;
    color: $light-gray !important;    
}

.active{
    color: $red !important;
}

